---
import Contacto from '../components/Contacto.astro';
import Proyectos from '../components/Proyectos.astro';
import SobreMi from '../components/SobreMi.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Maynor Semeyá (Portafolio) ">
	<main class="px-4 relative lg:left-1/4 lg:w-2/4 max-[420px]:w-[85%] max-[420px]:left-[10%] sm:w-[85%] sm:left-[10%] ">
		<SobreMi id="sobre_mi"/>
		<Proyectos id="portafolio"/>
		<Contacto/>
	</main>
</Layout>
