<section class="flex flex-row my-4 rounded-full p-8 items-center justify-center lg:w-[740px] transition" id="contacto">
    <form
      action="https://formsubmit.co/dmaynor488@gmail.com" 
      method="POST"
      class="flex flex-col w-3/4 text-xl font-medium text-blue-700 dark:text-yellow-200"
    >
      <h2 class="text-4xl font-semibold text-center text-black m-4 dark:text-white">Contactame</h2>
      <label for="Nombre" class="my-2">Nombre:</label>
      <input
        type="text"
        id="Nombre"
        class="appearance-none bg-inherit border-b-2 border-black dark:border-white focus:outline-none"
        name="Nombre"
        required
      />
      <label for="email" class="my-2">email:</label>
      <input
        type="email"
        name="email"
        id="email"
        class="appearance-none bg-inherit border-b-2 border-black dark:border-white focus:outline-none"
        required
      />
      <label for="Asunto" class="my-2" >Asunto:</label>
      <textarea
        class="appearance-none h-12 bg-transparent border-b-2 border-black dark:border-white focus:outline-none"
        id="Asunto"
        required
        cols="30"
        rows="10"
        name="asunto"
      ></textarea>
      <button class="my-2 border-2 border-black bg-blue-700 text-black rounded-full hover:bg-purple-900 dark:bg-[#9EC8B9] dark:hover:bg-yellow-200">Enviar</button>
      
      <input type="hidden" name="_next" value="http://localhost:4321/" />


    </form>
    <img src="imagenes/luffy.jpeg" alt="esperando" class="w-1/4 relative flex flex-row rounded-[4rem] left-8">
  
  </section>
