---
import Github from "./iconos/Github.astro";
import Gmail from "./iconos/Gmail.astro";
import Linkedn from "./iconos/Linkedn.astro";
import Copyrigth from "./iconos/copyrigth.astro"

---

<footer class="bg-[#D6CCC2] dark:bg-black/20  w-full flex items-center flex-col p-8" >
    <div class="flex flex-row m-4 gap-4">
        <p>-------------------</p><Gmail class="size-8" /><Linkedn class="size-8"/><Github class="size-8"/><p>-------------------</p>
    </div>
    <nav class="flex flex-row m-4 gap-4">
        <a href="#Sobre_mi" class="transition">Sobre mi</a>
        <a href="#Contacto" class="transition">Contacto</a>
        <a href="#Portafolio" class="transition">Portafolio</a>
    </nav>
    <h6 class="flex justify-center items-center gap-x-2"><Copyrigth/> Desarrollado por Maynor David |2024</h6>
</footer>