---
import Socials from '../components/Socials.astro';
import GithubIcon from '../components/iconos/Github.astro';
import LinkednIcon from './iconos/Linkedn.astro'
import GmailIcon from './iconos/Gmail.astro';
---

<section class="flex flex-col py-24 transition" id="sobre_mi" >
    
    <img
        class="size-36 rounded-full "
        src="public/segunYo.jpg"
        alt="Mas o menos asi soy jaja"
    />

    <h1 class="text-black dark:text-white font-bold text-4xl py-4 flex gap-x-4 ">Hey, soy Maynor 
        <a href="https://www.linkedin.com/in/maynor-semey%C3%A1/"><span class="bg-gray-700 text-gray-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border border-gray-500 ">Disponible para trabajar</span></a>
    </h1>
    </div>
    
    <div class=" top-40 py-4 text-lg" >
        <p class="text-black font-semibold dark:text-white ">Developer Full-Stack con Java, MySQL, API Rest con Spring boot, React y Astro </p>

        <p class="py-4 text-pretty dark:text-yellow-200">Una persona apasionado por la tecnologia y los retos que depara la vida del programador enfocado en buscar siempre la mejor solucion a los problemas
        </p>
        
        <nav class="flex gap-x-6 py-4 flex-wrap" >
            <Socials href="https://www.linkedin.com/in/maynor-semey%C3%A1/">
                <LinkednIcon class="size-6 rounded-7" ></LinkednIcon>
                Linkedn
            </Socials>
            <Socials href="https://github.com/Maynor06" >
                <GithubIcon class="size-6" ></GithubIcon>
                Github 
            </Socials>
            <Socials href="mailto:dmaynor488@gmail.com">
                <GmailIcon class="size-6"></GmailIcon>
                dmaynor488@gmail.com
            </Socials>
        </nav>    
        
    </div>
  </section>
