---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="relative text-black dark:text-white " >
		<div
		class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full dark:bg-neutral-950
		dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
	  >
	  </div>
	  <Header/>
	  <slot/>
	  <footer/>
	</body>

</html>
<style is:global>
	:root {

	}
	html {
		/* background: #E5DED8; */
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		background: linear-gradient(to bottom, #E5DED8, #E3D5CA, #E5DED8 );
  
		/* Asegúrate de que el fondo se extienda por toda la página */
		
		margin: 0;
		
	}

	body{
		display: flex;
		flex-direction: column;
		
	}
	html.dark {
		background: linear-gradient(ellipse at 50% -20%, #7877C64D, #1c1c1c00);
	}

</style>
